@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Lato&display=swap');


@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
    background-image: url(bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
position:  relative;
   
   
}

.box {
  
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 200px;
  background-color: #2c3a47;
  width: 280px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  top: -450px;
}

.box .lukimg{
  position: absolute;
  margin-top: 30px;
  border-radius: 50%;
  margin-left: -10px;
  border: 3px solid #3CA03A;
  fill: red
}

.box h1{
  position: absolute;
  top: 305px;
  left: -70px;
  text-align: center;
 font-family: "ArchyEDT-Bold", sans-serif;
font-size: 21px;
text-align: center;
left: 134px;
color: white;
}

.box p{
  position: absolute;
  font-size: 15px;
  font-family: "ArchyEDT-Bold", sans-serif;
color: #e66767;
top: 345px;
left: 120px;

}


.fa{
  position: relative;
  top: 180px;
  left: -75px;
  color: white;
  cursor: none;
}

.fa:hover{
 color:  #e66767;
 transition: 0.5s;
} 
 
 
 

.inst{
  position: relative;
  top: 180px;
  left: -50px;
  color: white;
  cursor: none;
  
}

.inst:hover{
 color:  #e66767;
 transition: 0.5s;
} 

 
 .link{
  position: relative;
  top: 180px;
  left: -25px;
  color: white;
  cursor: none;
 }

.link:hover{
 color:  #e66767;
 transition: 0.5s;
} 



.tw{
  position: relative;
  top: 180px;
  left: -2px;
  color: white;
  cursor: none;
}

 .tw:hover{
 color:  #e66767;
 transition: 0.5s;
} 
 
.iconebi{
  position: absolute;
  left: 195px;
}

.btn button{
  position: absolute;
  top: 45px;
  left: -55px;
  width: 100px;
  height: 30px;
  font-family: "ArchyEDT-Bold", sans-serif;
border: 2px solid #e66767;
background: none;
color: #e66767;
border-radius: 5px;
box-shadow: 0 3px #e66767;
letter-spacing: 4px;
text-align: center;

}


.btn button:active{
  box-shadow: 0 3px #e66767;
  transform: translateY(5px);
}


.btn button:hover{
  transition: 0.5s;
  background-color: #e66767;
  color: white;
}





.whitebox{
  position: absolute;
  top: 100px;
  left: -137px;
  background-color: #FFFFFF;
  width: 279px;
  height: 70px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}


.whitebox .know{
 
 color: black;
 
 
 
 
 
 
 
 
 
 
 
 
  position: absolute;
  top: 10px;
  left: 85px;
  
  text-align: center;
  font-size: 15px;
  letter-spacing:  2px;
}

.whitebox .html{
  position: relative;
  
  top: 40px;
  left: 40px;
  font-family: sans-serif;
  color: black;
}

.whitebox .css{
  position: relative;
  top: 40px;
  left: 30px;
  font-family: sans-serif;
  color: black;
}

.whitebox .javascript{
  position: relative;
  top: 40px;
  left: 30px;
  font-family: sans-serif;
  color: black;
}


.booy{
  position: absolute;
  display: flex;
  margin-left: 10px;
 
}

.booy .javascript{
  
  margin-left: 30px;
  font-family: 'Fasthand', cursive;
font-family: 'Josefin Sans', sans-serif;
margin-top: 5px;
}

.booy .css{
  position: relative;
  margin-left: 40px;
    font-family: 'Fasthand', cursive;
font-family: 'Josefin Sans', sans-serif;
margin-top: 5px;
}


.booy .html{
    font-family: 'Fasthand', cursive;
font-family: 'Josefin Sans', sans-serif;
margin-left: -20px;
margin-top: 5px;
}



.btnn{
  display: none;
}





 .bottom{
 display: flex;
 justify-content: center;
 align-items: center;
 letter-spacing: 5px;
 margin-left: -7px;
 
}


.bottom a:after{
  content: "";
  height: 2px;
  width: 0;
  background:  #e66767;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.3s;
  margin-left: -3px;
}


.bottom a:hover:after{
  width: 100%;
  left: 5%;
  
}



.iconebi{
  position: absolute;
  left: 200px;
}


#btn{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


a.mzm{
  display: flex;
}
